 
@{
    ViewData["Title"] = "Manage Footer"; 
    Layout = "~/Views/Shared/PrivateLayout.cshtml";
}

 

 
    <meta charset="UTF-8">
    <title>Page Loader with Pagination</title>
    <link href="~/dist/css/select2.css" rel="stylesheet" />
    <link href="~/dist/css/select2.min.css" rel="stylesheet" />
    <script src="~/dist/js/select2.js"></script>
    <script src="~/dist/js/select2.min.js"></script>
     
    <script> 
        $('#mySelect2').select2({
        dropdownParent: $('#myModal')
    });
    </script>
     
<div class="page-wrapper">
    <div class="content">
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
             
            <select id="mySelect2">
                <option value="AL">Alabama</option>
                <option value="WY">Wyoming</option>
                <option value="AL">Alabama 1</option>
                <option value="WY">Wyoming</option>
                <option value="AL">Alabama 2</option>
                <option value="WY">Wyoming</option>
                <option value="AL">Alabama 3</option>
                <option value="WY">Wyoming</option>
                <option value="AL">Alabama 4</option>
                <option value="WY">Wyoming</option>
            </select> 
        </div> 
    </div>
</div>
