 
@{
    Layout = null;
}
 
    <table>
        <tr>
            <th>Name 1</th> 
            <th>Name 2</th> 
            <th>Name 3</th>   
        </tr>
        <tbody>
            <tr>
                <td>Karim 1</td>
                <td>Karim 2</td>
                <td>Karim 3</td> 
            </tr>
        </tbody>
    </table>
 
