@{
   ViewData["Title"] = "Home Page";
   Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<!---Js Files--->
<script src="~/commonui/js/configuration/institutebranch.js?v=@DateTime.Now.ToString("yymmddHHmmss")"></script>

<main id="main" class="main">
   <!-- Page header -->
   <div class="page-header d-print-none headerPaddingRemove">
      <div class="container-xl">
         <div class="row g-2 align-items-center">
            <div class="col">
               <h2 class="page-title">
                  InstituteBranch Information
               </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
               <div class="btn-list">

                  <a href="#" data-toggle="modal" onclick="AddNew()" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-report">
                     <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
                     <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
                     Create New InstituteBranch
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- Page body -->
   <div class="page-body pageBodyPaddingRemove">
      <div class="container-xl">
         <div id="gridTable" class="kendoGrid custom-header-style"></div>
      </div>
   </div>

   <!-- Modal -->
   <div class="modal fade" id="modalToggle" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
         <div class="modal-content">
            <div class="modal-header">
               <h5 class="modal-title" id="staticBackdropLabel">Create New InstituteBranch</h5> <span id="spanParentID" style="display:none">0</span>
               <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               <div class="row" style="justify-content: left;">
                  <div class="col-md-6">
                     <label class="form-label required">Institute Branch Name</label> <input id="txtInstituteBranchName" class="form-control comboBox" style="width:100%; height:37px" onblur="checkEmptyInput(this)" required />
                  </div>
                  <div class="col-md-6">
                     <label class="form-label required">Branch Short Name</label> <input id="txtBranchShortName" class="form-control" style="width:100%" onblur="checkEmptyInput(this)" required />
                  </div>
               </div>
               <div class="row g-3 mt-0" style="justify-content: left;">
                  <div class="col-md-6">
                     <label class="form-label required">ContactNumber</label> <input id="txtContactNumber" class="form-control comboBox" style="width:100%; height:37px" onblur="checkEmptyInput(this)" required />
                  </div>
                  <div class="col-md-6">
                     <label class="form-label required">Email</label> <input id="txtEmail" class="form-control comboBox" style="width:100%; height:37px" onblur="checkEmptyInput(this)" required />
                  </div>
               </div>
               <div class="row g-3 mt-0" style="justify-content: left;">
                  <div class="col-md-6">
                     <label class="form-label required">Address</label> <input id="txtAddress" class="form-control" style="width:100%" onblur="checkEmptyInput(this)" required />
                  </div>
                  <div class="col-md-6">
                     <label class="form-label ">Institute Name</label> <input type="text" id="ddlInstitute" class="form-control comboBox" style="width:100%; height:37px" onblur="checkEmptyInput(this)" />
                  </div>
               </div>
               <div class="row g-3 mt-0" style="justify-content: left;">
                  <div class="col-md-4" @*style="margin-top: 45px;"*@>
                     <label class="form-label"></label>
                     <label class="form-check form-check-inline" style="position:absolute;bottom:30px;">
                        <input class="form-check-input" type="checkbox" id="isMainBranch" checked>
                        <span class="form-check-label">IsMainBranch</span>
                     </label>
                  </div>
                  <div class="col-md-4" style="margin-top: 45px;">
                     <label class="form-label "></label>
                     <label class="form-check form-check-inline" style="position:absolute;bottom:30px;">
                        <input class="form-check-input" type="checkbox" id="isActive" checked>
                        <span class="form-check-label">Active</span>
                     </label>
                  </div>
               </div> 
            </div>
            <div class="modal-footer">
               <button type="button" id="btnSave" class="btn btn-ghost-primary active w-10" onclick="Save()">Save</button>
            </div>
         </div>
      </div>
   </div>
</main>